<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Login</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Login</h3>
                <form action="#" class="p-5 bg-light" [formGroup]='loginForm'>

                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="email" class="form-control" id="email" formControlName="email" required>
                    </div>
                    <div *ngIf='loginForm.controls["email"].invalid
                        &&(loginForm.controls["email"].dirty ||
                        loginForm.controls["email"].touched)'>
                        <div *ngIf='loginForm.controls["email"].errors.required' style="color: red;">
                            Email is required
                        </div>
                        <div *ngIf='loginForm.controls["email"].errors.email' style="color: red;">
                            Email must end with @ gmail.com
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="pass">Password* </label>
                        <input type="password" id="pass" name="password" formControlName="pwd" required>
                    </div>
                    <div *ngIf='loginForm.controls["pwd"].invalid
                        &&(loginForm.controls["pwd"].dirty ||
                        loginForm.controls["pwd"].touched)'>
                        <div *ngIf='loginForm.controls["pwd"].errors.required' style="color: red;">
                            Password is required
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" (click)="login()" value="login" class="btn btn-primary py-3 px-4 text-white">login</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>